[Unit]
Description = Sunset Timer LED Lighting

Wants = network.target
After = syslog.target network-online.target

[Service]
Type             = simple
ExecStart        = /usr/local/share/venv/bin/python /usr/local/share/venv/bin/sunset_timer.py
User             = root
Group            = root 
Restart          = on-failure
SyslogIdentifier = sunset_timer
RestartSec       = 10
TimeoutStartSec  = infinity
KillMode         = process

[Install]
WantedBy = multi-user.target

