[Unit]
Description = Sunset Timer LED Lighting

Wants = network.target
After = syslog.target network-online.target

[Service]
Type             = simple
ExecStart        = python /usr/local/share/sunset_timer/sunset_timer.py
User             = root
Group            = root 
Restart          = on-failure
SyslogIdentifier = sunset_timer
RestartSec       = 10
TimtoutStartSec  = infinity
KillMode         = process

[Install]
WantedBy = multi-user.target

